<h1 mat-dialog-title>{{isNewItem ? ('product.AddTitle' | translate) : ('product.UpdateTitle' | translate)}}</h1>
<div mat-dialog-content class="mat-dialog-lg">
  <form #form="ngForm" [formGroup]="itemForm" novalidate (ngSubmit)="save(myFile.files)" fxLayout="column" [fxLayoutGap]="isEditMode ? '1em' : '1em'" autocomplete="off">
    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="app-tab-icon">filter_1</mat-icon>
          Thông tin cơ bản
        </ng-template>
        <div class="tab-content">
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
            <mat-form-field [floatLabel]="floatLabels" fxFlex="40">
              <mat-label>{{'product.ProductCode' | translate}}</mat-label>
              <input matInput formControlName="productCode" />
            </mat-form-field>

            <mat-form-field [floatLabel]="floatLabels" fxFlex>
              <mat-label>{{'product.Name' | translate}}</mat-label>
              <input matInput formControlName="name" />
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <mat-form-field>
              <textarea matInput placeholder="{{'product.Description' | translate}}"></textarea>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
            <mat-form-field [floatLabel]="floatLabels" fxFlex>
              <input matInput formControlName="buyingPrice" placeholder="{{'product.BuyingPrice' | translate}}" />
            </mat-form-field>
            <mat-form-field [floatLabel]="floatLabels" fxFlex>
              <input matInput formControlName="sellingPrice" placeholder="{{'product.SellingPrice' | translate}}" />
            </mat-form-field>
            <mat-form-field [floatLabel]="floatLabels" fxFlex>
              <input matInput formControlName="oldPrice" placeholder="{{'product.OldPrice' | translate}}" />
            </mat-form-field>
          </div>
          <div fxLayout="row">
            <div fxFlex.gt-sm="0 1 calc(50% - 0.5em)">
              <mat-checkbox formControlName="isDiscontinued">{{'product.Discontinued' | translate}}</mat-checkbox>
            </div>
            <div fxFlex.gt-sm="0 1 calc(50% - 0.5em)">
              <mat-checkbox formControlName="isPromote">{{'product.Promote' | translate}}</mat-checkbox>
            </div>

          </div>
          <div fxLayout="row">
            <div fxFlex.gt-sm="0 1 calc(50% - 0.5em)">
              <mat-checkbox formControlName="isHot">{{'product.Hot' | translate}}</mat-checkbox>
            </div>
            <div fxFlex.gt-sm="0 1 calc(50% - 0.5em)">
              <mat-checkbox formControlName="isActive">{{'product.Active' | translate}}</mat-checkbox>
            </div>
          </div>

          <div fxLayout="row">
            <mat-label>Ảnh</mat-label>
          </div>
          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">
            <br />

            <br />
            <input #myFile type="file" accept="image/*" (change)="preview($event)" style="display:none" />
            <br />
            <br />
            
            <canvas #myCanvas style="border:1px solid #808080; width:200px; height:200px" (click)="myFile.click()">Icon</canvas>
          </div>

          <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="1em">


          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="app-tab-icon">filter_2</mat-icon>
          Thông tin chi tiết
        </ng-template>
        Content 2
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="app-tab-icon">filter_3</mat-icon>
          Thư viện ảnh
        </ng-template>

        Content 3
      </mat-tab>
    </mat-tab-group>

  </form>
  <div fxLayout="row" class="group-btn" >
    <!--<button mat-raised-button (click)="upload(myFile.files);" color="primary">Upload</button>-->
    <button mat-raised-button (click)="save(myFile.files);" color="primary" style="padding-right:5px">{{'app.Save' | translate}}</button><div style="width:5px"></div>
    <button mat-raised-button (click)="cancel()" color="warn">{{'app.Cancel' | translate}}</button>
  </div>
</div>


