<ngx-toasta></ngx-toasta>
<mat-sidenav-container class="sidenav-container">
  
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport="true"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </mat-toolbar>
    
    <mat-nav-list *ngIf="isUserLoggedIn">
      <a class="mat-list-item active" mat-list-item="" routerLink="" routerlinkactive="active" href="/">
        <div class="mat-list-item-content">
          <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
          <div class="mat-list-text"></div>
          <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">dashboard</mat-icon>{{'mainMenu.Home' | translate}}
        </div>
      </a>
      <a class="mat-list-item active" mat-list-item="" routerLink="/app/categories" routerlinkactive="active" href="/">
        <div class="mat-list-item-content">
          <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
          <div class="mat-list-text"></div>
          <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">category</mat-icon>{{'mainMenu.Category' | translate}}
        </div>
      </a>
      <a class="mat-list-item active" mat-list-item="" routerLink="/app/category/products" routerlinkactive="active" >
        <div class="mat-list-item-content">
          <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
          <div class="mat-list-text"></div>
          <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">category</mat-icon>Nhóm Sản Phẩm
        </div>
      </a>
      <a class="mat-list-item active" mat-list-item="" routerLink="/app/customers" routerlinkactive="active">
        <div class="mat-list-item-content">
          <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
          <div class="mat-list-text"></div>
          <mat-icon _ngcontent-c0="" class="mat-icon material-icons" role="img" aria-hidden="true">contacts</mat-icon>{{'mainMenu.Customers' | translate}}
        </div>
      </a>
      <a class="mat-list-item active" mat-list-item="" routerLink="/app/products" routerlinkactive="active">
        <div class="mat-list-item-content">
          <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
          <div class="mat-list-text"></div>
          <mat-icon _ngcontent-c0="" class="mat-icon material-icons" role="img" aria-hidden="true">shopping_cart</mat-icon>{{'mainMenu.Products' | translate}}
        </div>
      </a>
      <a class="mat-list-item active" mat-list-item="" routerLink="/about" routerlinkactive="active">
        <div class="mat-list-item-content">
          <div class="mat-list-item-ripple mat-ripple" mat-ripple=""></div>
          <div class="mat-list-text"></div>
          <mat-icon _ngcontent-c0="" class="mat-icon material-icons" role="img" aria-hidden="true">dashboard</mat-icon>{{'mainMenu.About' | translate}}
        </div>
      </a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="z-index:10">
      <mat-toolbar-row>
        <button type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>

        <span class="example-spacer"> {{'app.AppTitle' | translate}}</span>
        
        <button mat-button [matMenuTriggerFor]="message">
          <mat-icon class="example-icon">message</mat-icon>
        </button>
        <mat-menu #message>
          Message here!
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="menu">
          <mat-icon class="example-icon">account_circle</mat-icon>
          {{userName}}
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>            
            <span>
              <a routerLink="/app/settings">Profile</a>
            </span>
          </button>
          <button mat-menu-item><mat-icon>settings</mat-icon>
          <a routerLink="/app/settings"><span>Settings</span></a>
          </button>
          <hr />
          <button mat-menu-item (click)="logout()"><mat-icon>lock</mat-icon><span>Logout</span></button>
        </mat-menu>
        
      </mat-toolbar-row>

    </mat-toolbar>
    <div style="padding-left:20px; padding-right:20px">      
      <router-outlet></router-outlet>
    </div>    
  </mat-sidenav-content>
</mat-sidenav-container>

<div *ngIf="shouldShowLoginModal" class="modal fade" bsModal #loginModal="bs-modal" (onShown)="onLoginModalShown()" (onHidden)="onLoginModalHidden()" (onHide)="onLoginModalHide()"
     [config]="{backdrop: 'static'}" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <app-login #loginControl isModal="true"></app-login>
  </div>
</div>

